# Power BI temporary / backup files
*.pbit
*.tmp
*.bak

# Excel temporary files
~$*.xlsx
~$*.xlsm

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment files
.env
